@import '_variables';
@import '_mixin';

/*---------- header ----------*/
.header {
    background-color: $white;
    z-index: 100;
    
    .logo {
        display: flex;
        justify-content: center;
        top: 3px;

        &__image--cwlc {
            display: inline-block;
            width: 120px;
            height: 40px;
            background-image: url('../assets/images/logo/logo-cwlc.png');
            @include bg-cover;
            margin-right: 10px;
        }
    }

    &__main {
        padding: 10px 20px;
    }

    &.on {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
    
}

.fixTop {
    &.isfixed {
        height: 65px;
    }
}

@media only screen and (max-width: 768px) {
    /*----------- header -----------*/
    .header {

        &__main {
            padding: 7px 20px;
        }

        &__ad {
            padding: 20px 0;
        }
        
    }

    .fixTop {
        &.isfixed {
            height: 59px;
        }
    }

}