// variable
$primary:#8c70c0;
$primary-lighter:#eeddfe;

$secondary: #FFCE55;
$secondary-lighter: #FFD673;

$info: #7AB655;
$info--dark: #56793E;

$warning: #F6893C;
$danger: #E15081;


// Gray scale
$black: #222222;
$white: #fff;
$gray: #495057;
$gray-normal: #adb5bd;
$gray-lighter: #e9ecef;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$underline-color: $primary;