@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500|Roboto:400,700|Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://use.typekit.net/nil7qfr.css');
@import '_bootsnav';
@import '_normalize';
@import '_mixin';
@import '_variables';
@import '_col_1_5';
@import '_layout';
@import '_page';
@import '_header_extend';
@import '_element';
@import '_videoSlider';
@import '_slick';
@import '_slick-theme';
@import '_utilities';


/*---------- index ----------*/

// p,h1,h2,h3,h4,h5,h6{
//     padding: 0 !important;
// }

// .row{
//     margin: 0;
// }

.br-mo{
    @include rwd-min(1200px) {
        display: none;
    }
}

.br-pc{
    display: none;
    @include rwd-min(1200px) {
        display: block;
    }
}
.imgWrap {
    overflow: hidden;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
    }
}

.icon {
    display: inline-block;
    &__social {
        width: 25px;
        height: 25px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0 0px;
        margin: 0 10px;
        @include transition(all,.3s,ease);

        &:hover {
            opacity: .5;
        }
    }
}

.scrollUp {
    transform: translateY(0px);
}

.line{
    width: 2px;
    height: 60px;
    margin: 0px auto 40px;
    background-color: $primary;
    @include rwd-min(1200px) {
        height: 80px;
    }
}

.downbtn{
    transform:rotate(180deg);
    width: 5%;
    right: 0;
    left: 0;
    margin: auto;
    // cursor: pointer;
    &:hover{
        transform: rotate(180deg) translateY(-8px);
    }
}


.gap {
    padding: 8rem 0;

    @include rwd-max(565px) {
        padding: 3.6rem 0;
    }
}

// Navbar
.navbar {
    z-index: 99;

    &__brandGroup {
        img {
            height: 44px;
            width: auto !important;
        }
    }

    &__bgcustom {
        background-color: rgba(255, 255, 255, 0);

        @include transition(all, .2s, ease-in-out);

        @include rwd-min(992px) {
            background-color: transparent;

        }

        &.scroll {
            background-color: transparent;
            // box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        }
    }

}

.side__title {
    color: $white;
    font-size: 20px;
    font-weight: 500;
}

.menuPage{
    height: 100vh; 
    width: 100%; 
    position: fixed; 
    z-index: 10;
    visibility: hidden;
    transition: all .5s linear;

    &__title{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        transform: translateX(-40px);
        &:hover{
            transform: translateX(40px);
            transition: all .5s;
        }
        span{
            font-size: rem(32); 
            line-height: 1.5;
        }
        svg{
            width: 24px;
            height: 24px;
            margin-right: rem(24);
            path{
                color: $white;
            }
        }
        @include rwd-min(1200px) {
            span{
                font-size: rem(48); 
            }
            svg{
                width: 40px;
                height: 40px;
                margin-right: rem(8);
            }
        }
    }

    &--active{
        overflow: hidden;
        margin-top: 20%;
    }

    
    .close-button{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 5%;
        right: 5%;
        display: block;
        z-index: 200;
        text-indent : -9999px;
        // transition: all .5s linear;

        &:before,
        &:after{
            content: '';
            width: 55%;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 48px;
            right: 3%;
            transition: all .5s linear;
            transform: rotate(45deg);
        }

        &:after{
            transition: all .5s linear;
            transform: rotate(-45deg);
        }
        

        &:hover{
            &:before,
            &:after{
            transform: rotate(180deg) translateX(0px);
        }
        }
    }



    &__b{
        position:absolute; 
        bottom: 0; 
        right: 0; 
        left: 0;
        div, a{
            font-size: rem(20);
        }
        a:hover{
            color: $secondary;
        }
        .copyright{
            font-size: rem(14);
            letter-spacing: 1.2px;
            display: flex;
            justify-content: end;
            align-items: end;
        }
        i{
            color: $white;
            margin: 0 16px 0 0;
        }
    }
}

.openMenu{
    width: 54px;
    height: 54px;
    background-color: $gray-normal;
    display: inline-block;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 9;
    border-radius: 100%;

    &:hover{
        background-color: $gray-lighter;
        transition: all .5s;
    }

    span{
        color: $white;
        font-size: 30px;
    }
}

// Footer
.footer {
    padding: rem(24);
    background-color: $gray-lighter;
    color: $black;
    font-size: rem(14);

    a{
        font-size: rem(14);
        font-weight: 300;
        display: inline-block;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &:hover {
            color: $primary;
        }
        i{
            padding: 16px;
            color: $black;
            &:hover{
                color: $primary;
            }
        }
    }
}

// To top buttom
.toTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: transparent;
    width: rem(60);
    height: rem(60);
    z-index: 5;
    background-color: $gray-lighter;

    &:hover{
        background-color: $primary-lighter;
    }
}

// Bottom fixed
.bottom-b {
    padding: 1.5rem 0;
    background-color: $primary;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    transform: translateY(95px);
    @include transition(all, .2s, ease-in-out);

    span {
        font-size: 1rem;
        font-weight: 500;
    }

    &.scrollUp {
        transform: translateY(0);
    }
}

//order
.order{
    &--1{
        order:1;
        @include rwd-min(1200px) {
            order:2;
        }
    }
    &--2{
        order:2;
        @include rwd-min(1200px) {
            order:1;
        }
    }
    &--3{
        order:3;
    }
}
